@font-face{
    font-family: Cairo;
    src: url('../assets/css/fonts/cairo/Cairo-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: Cairo;
    src: url('../assets/css/fonts/cairo/Cairo-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Cairo;
    src: url('../assets/css/fonts/cairo/Cairo-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Cairo;
    src: url('../assets/css/fonts/cairo/Cairo-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Cairo;
    src: url('../assets/css/fonts/cairo/Cairo-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Cairo;
    src: url('../assets/css/fonts/cairo/Cairo-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Cairo;
    src: url('../assets/css/fonts/cairo/Cairo-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: Cairo;
    src: url('../assets/css/fonts/cairo/Cairo-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: ruqaa;
    src: url('../assets/css/fonts/ruqaa/ArefRuqaa-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: ruqaa;
    src: url('../assets/css/fonts/ruqaa/ArefRuqaa-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

* {
    font-family: Cairo
}

.custom-header {
    font-family: ruqaa;
}

/* Styart override Typeahead */
.tt-menu{
    left: unset;
    right: 0;
}

.tt-dataset{
    text-align: right;
}
/* End override Typeahead */
@media only screen and (min-width: 1025px) {
    .launcher .sidebar {
        right: unset;
        left: 50px;
    }
}

/* Start override bootbox */
.bootbox-close-button {
    right: unset;
    left: 0;
}
/* End override bootbox */

/* Start override theme */
.card .card-header .card-title .card-label {
    margin: 0 0 0 0.75rem;
}

#kt_wrapper {
    padding-left: 0;
}
/* End override theme */

/* Start override bootstrap */
.modal-header {
    flex-direction: row-reverse;
}

.form-floating > label {
    transform-origin: right;
}

.form-control.is-invalid, .was-validated .form-control:invalid,
.form-control.is-valid, .was-validated .form-control:valid {
    padding-left: calc(1.5em + 1.55rem);
    padding-right: 10px;
    background-position: left calc(.375em + .3875rem) center;
}

/* End override bootstrap */

/* Start override Daterange picker */
.drp-calendar{
    direction: rtl;
}

    .drp-calendar.left {
        float: right;
    }

    .drp-calendar.right {
        float: left;
    }
/* End override Daterange picker */
.transform-x {
    transform: unset;
}

input {
    direction: rtl;
}

input.has-icon {
    padding-right: 60px !important;
}

svg.reverse {
    transform: scaleX(-1);
}

.end-0 {
    left: 0 !important;
    right: unset !important;
}

.glass {
    backdrop-filter: blur(16px);
}

th {
    text-align: right !important;
}
