@model ErrorViewModel

@inject IWebHostEnvironment _webHostEnvironment;

@{
	ViewData["Title"] = "Error";

	var imageExists = File.Exists($"{_webHostEnvironment.WebRootPath}/assets/images/errors/{Model.ErrorCode}.png");

	var imagePath = $"/assets/images/errors/{(imageExists ? Model.ErrorCode : "general")}";
}

<div class="d-flex flex-column flex-center text-center">
	<!--begin::Wrapper-->
	<div class="card card-flush w-lg-650px py-5">
		<div class="card-body py-15 py-lg-20">
			<!--begin::Title-->
			<h1 class="fw-bolder fs-2hx text-gray-900 mb-4">@Model.ErrorDescription</h1>
			<!--end::Title-->
			<!--begin::Text-->
			<div class="fw-semibold fs-6 text-gray-500 mb-7">An error occurred, please try again later.</div>
			<!--end::Text-->
			<!--begin::Illustration-->
			<div class="mb-3">
				<img src="@($"{imagePath}.png")" class="mw-100 mh-300px theme-light-show" alt="">
				<img src="@($"{imagePath}-dark.png")" class="mw-100 mh-300px theme-dark-show" alt="">
			</div>
			<!--end::Illustration-->
			<!--begin::Link-->
			<div class="mb-0">
				<a href="/" class="btn btn-sm btn-primary">Return Home</a>
			</div>
			<!--end::Link-->
		</div>
	</div>
	<!--end::Wrapper-->
</div>