@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="d-flex flex-column flex-root">
	<!--begin::Page bg image-->
	<style>
		body {
			background-image: url('/assets/images/bg6.jpg');
		}

		[data-theme="dark"] body {
			background-image: url('/assets/images/bg6-dark.jpg');
		}</style>
	<!--end::Page bg image-->
	<!--begin::Authentication - Signup Welcome Message -->
	<div class="d-flex flex-column flex-center flex-column-fluid">
		<!--begin::Content-->
		<div class="d-flex flex-column flex-center text-center p-10">
			<!--begin::Wrapper-->
			<div class="card card-flush w-lg-650px py-5">
				<div class="card-body py-15 py-lg-20">
					<!--begin::Logo-->
					<div class="mb-14">
						<a href="/" class="">
							<img alt="Logo" src="~/assets/images/logo.png" class="h-60px">
						</a>
					</div>
					<!--end::Logo-->
					<!--begin::Title-->
					<h1 class="fw-bolder text-gray-900 mb-5">Password is changed</h1>
					<!--end::Title-->
					<!--begin::Message-->
					<div class="fs-6 fw-semibold text-gray-500 mb-10">
						Your password has been reset. Please use the below button to log in
					</div>
					<!--end::Message-->
					<!--begin::Link-->
					<div class="mb-11">
						<a asp-page="./login" class="btn btn-sm btn-primary">Sign in</a>
					</div>
					<!--end::Link-->
					<!--begin::Illustration-->
					<div class="mb-0">
						<img src="/assets/images/ok.png" class="mw-100 mh-300px theme-light-show" alt="">
						<img src="/assets/images/ok-dark.png" class="mw-100 mh-300px theme-dark-show" alt="">
					</div>
					<!--end::Illustration-->
				</div>
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Authentication - Signup Welcome Message-->
</div>