@page
@model ChangePasswordModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>

<div class="card">
    <div class="card-body">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-6 mt-10">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="fv-row mb-5">
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <input asp-for="Input.OldPassword" class="form-control form-control-solid" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <!--begin::Main wrapper-->
                    <div class="fv-row mb-5" data-kt-password-meter="true">
                        <!--begin::Wrapper-->
                        <div class="mb-1">
                            <!--begin::Label-->
                            <label class="form-label fw-semibold fs-6 mb-2" asp-for="Input.NewPassword"></label>
                            <!--end::Label-->
                            <!--begin::Input wrapper-->
                            <div class="position-relative mb-3">
                                <input class="form-control form-control-lg form-control-solid"
                                       type="password" placeholder="" asp-for="Input.NewPassword" autocomplete="off" />

                                <!--begin::Visibility toggle-->
                                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                                      data-kt-password-meter-control="visibility">
                                    <i class="bi bi-eye-slash fs-2"></i>

                                    <i class="bi bi-eye fs-2 d-none"></i>
                                </span>
                                <!--end::Visibility toggle-->
                            </div>
                            <!--end::Input wrapper-->
                            <!--begin::Highlight meter-->
                            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                            </div>
                            <!--end::Highlight meter-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Hint-->
                        <div class="text-muted">
                            Use 8 or more characters with a mix of letters, numbers & symbols.
                        </div>
                        <!--end::Hint-->
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <!--end::Main wrapper-->
                    <div class="fv-row mb-5">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-solid" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                </form>
            </div>
            <div class="col-md-5 offset-md-1">
                <img src="~/assets/images/reset-password.svg" alt="Change Password" />
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
