@model UserFormViewModel

<form asp-action="@(!string.IsNullOrEmpty(Model?.Id) ? "Edit" : "Create")"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete">
    @if (!string.IsNullOrEmpty(Model?.Id))
    {
        <input type="hidden" asp-for="Id"/>
    }
    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="text" class="form-control form-control-solid" placeholder="Full Name" asp-for="FullName" autocomplete="off" />
            <label asp-for="FullName"></label>
        </div>
        <span asp-validation-for="FullName" class="text-danger d-block"></span>
    </div>

    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="text" class="form-control form-control-solid" placeholder="Username" asp-for="UserName" autocomplete="off" />
            <label asp-for="UserName"></label>
        </div>
        <span asp-validation-for="UserName" class="text-danger d-block"></span>
    </div>

    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="email" class="form-control form-control-solid" placeholder="Email" asp-for="Email" autocomplete="off" />
            <label asp-for="Email"></label>
        </div>
        <span asp-validation-for="Email" class="text-danger d-block"></span>
    </div>

    <div class="mb-5">
        <div class="mb-2">
            <select class="form-select form-select-solid js-select2" data-placeholder="Select roles" asp-for="SelectedRoles" asp-items="@Model.Roles">
                <option>Select roles</option>
            </select>
        </div>
        <span asp-validation-for="SelectedRoles" class="text-danger d-block"></span>
    </div>

    @if (string.IsNullOrEmpty(Model?.Id))
    {
        <div class="mb-5">
            <div class="form-floating mb-2">
                <input type="password" class="form-control form-control-solid" placeholder="Password" asp-for="Password" />
                <label asp-for="Password"></label>
            </div>
            <span asp-validation-for="Password" class="text-danger d-block"></span>
        </div>

        <div class="mb-5">
            <div class="form-floating mb-2">
                <input type="password" class="form-control form-control-solid" placeholder="Confirm Password" asp-for="ConfirmPassword" />
                <label asp-for="ConfirmPassword"></label>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger d-block"></span>
        </div>
    }

    <partial name="_ModalFooter" />
</form>