@model ResetPasswordFormViewModel

<form asp-controller="Users"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete">

    <input type="hidden" asp-for="Id"/>
    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="password" class="form-control form-control-solid" placeholder="Password" asp-for="Password" />
            <label asp-for="Password"></label>
        </div>
        <span asp-validation-for="Password" class="text-danger d-block"></span>
    </div>

    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="password" class="form-control form-control-solid" placeholder="Confirm Password" asp-for="ConfirmPassword" />
            <label asp-for="ConfirmPassword"></label>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger d-block"></span>
    </div>

    <partial name="_ModalFooter" />
</form>