@model string

@{
    ViewData["Title"] = "Not Allowed Rental";
}

<div class="d-flex flex-column text-center align-items-center">
    <img src="~/assets/images/stop.png" alt="stop" class="mw-200px" />

    <h4 class="bg-danger text-white display-6 w-50 rounded p-4">@Model</h4>
</div>